body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

.bannner-div-one{
    margin: 4%;
    position: relative;
}
.first-text{
    position: absolute;
    top: 17px;
    left: 50px;
}
.para-text{
    position: absolute;
    bottom: 20px;
    left: 10px;
}