body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

.bannner-div-one {
    /* margin: 4%; */
    position: relative;
    text-align: center;
}

.first-text-one {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 250%;
}

.first-text-two {
    position: absolute;
    top: 18%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 250%;
}

.para-text {
    position: absolute;
    top: 28%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:white;
    font-size: 105%;
    font-weight: bold;
}

.banner-img {
    width: 100%;
    padding: auto;
    margin: auto;
    background-size: cover;
}

.banner-button {
    text-decoration: none;
    background-image: linear-gradient(bisque, bisque);
    padding: 10px 17px;
    border-radius: 7px;
    font-weight: 600;
    color: black;
    position: absolute;
    top: 43%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.update{
    margin: 0;
    margin: auto;
    width: 70%;
    padding: 0;
}

.my-update{
    margin: 30px 20px 20px 25px;
    text-align: center;
    font-size: 220%;
}

.my-update-para{
    text-align: center;
    font-size: 110%;
}

.my-update-inpt{
    width: 40%;
    display: block;
    padding: 0rem 1rem 1rem 30rem;
    /* border-bottom: 2px solid black; */
    text-align: center;
    border: 2px solid white;
}
.two-in-one{
    display: flex;
    background-color: bisque;
    margin: 32px 25px 25px 22px;
    padding: 60px 55px 54px 56px;
}
#my-update-button{
    text-decoration: none;
    color: rgb(31, 28, 28);
    border-radius: 7px 7px 7px 7px;
    background-color: tomato;
    text-align: center;
    padding: 10px 10px 10px 25px;
    margin: auto;
}

.header-one {
    text-align: center;
    font-size: 220%;
    /* color: ; */
}

.description-text {
    text-align: center;
    font-size: 130%;
    margin: 0;
    padding: 0;
}

.demo-money-box {
    width: auto;
    margin-left: 10%;
    margin-top: 2%;
    margin-right: 2%;
    margin-bottom: 5%;
    padding: 10px 10px 10px 10px;
    box-shadow: 10px 10px 40px slategray;
    border-radius: 8px;
    text-align: center;
    display: inline-block;
}

.colorful {
    border: 1px solid tomato;
    box-shadow: inset 0px 0px 35px 0px tomato;
}

.money-donate-div {
    margin: auto;
    width: 45%;
    padding-bottom: 60px;
}

.money-donate {
    width: 90%;
    display: inline-block;
    padding: 10px 16px;
    border-bottom: 2px solid black;
    text-align: center;
    margin: 23px 0;
}

.donate-button {
    text-decoration: none;
    background-image: linear-gradient(tomato, chocolate);
    padding: 10px 17px;
    border-radius: 7px;
    font-weight: 600;
    color: rgb(30, 32, 34);
    position: absolute;
    top: 209%;
    left: 49%;
    transform: translate(-50%, -50%);
}

.footer-section {
    text-align: center;
    text-shadow: 1px 1px rgb(209, 217, 225);
    background-color: #272727;
    color: beige;
    padding: 10px;
}

.plan-header{
    margin-top: 50px;
    text-align: center;
    font-size: 220%;
}
.plan-para{
    text-align: center;
    font-size: 130%;
}

.box{
    width: 20%;
    margin-left: 5%;
    margin-top: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    padding: 10px 10px 10px 10px;
    box-shadow: 10px 10px 40px slategray;
    border-radius: 8px;
    text-align: center;
    display: inline-block;
    position: relative;
}
.box img{
    position: absolute;
    top: 0px;
    left: 0px;
}
.box h3{
    text-align: left;
}
.box p{
    text-align: left;
}
.food{
    background-color: rgb(216, 231, 226);
    border-left: 7px solid rgb(149, 201, 184);
}
.shelter{
    background-color: rgb(241, 213, 218);
    border-left: 7px solid rgb(217, 167, 184);
}
.edu{
    background-color: antiquewhite;
    border-left: 7px solid rgb(224, 198, 166);
}

.flexible-container{
    display: flex;
    margin-bottom: 135px;
}

.extra{
    background-color: rgb(229, 229, 215);
    padding: 22px 18px 18px 22px;
    margin: 20px 22px 22px 20px;
}

.situation{
    width: 50%;
    padding-left: 4%;
}
.situation img{
    width: 100%;
    padding: auto;
    margin: auto;
}
.situation-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 17px;
    border-radius: 7px;
    font-weight: 600;
    color: rgb(81, 48, 115);
}
.situation-header{
    font-size: 48px;
    color: #272727;
}
.situation-para{
    font-size: 20px;
    color: #272727
}
.colorrr{
    color: #272727;
}